.wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 30px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.about-projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    width: 70%;
    height: 320px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #fff;
    font-size: 20px;
}
.about-projects img {
    width: 140px;
    height: 140px;
    
}
.about-projects span {
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
    color: var(--primary);
}
@media(max-width: 991px) {
    .wrapper {
        width: 98%;
        grid-template-columns: repeat(2, 1fr);
    }
    .about-projects {
        width: 94%;
        font-size: 20px;
        height: 380px;
    }
}
@media(max-width: 595px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .about-projects {
        width: 90%;
        font-size: 17px;
        height: 490px;
    }
}