.btn-flat {
    width: 75%;
    margin: 0 auto;
    color: var(--primary);
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    cursor: pointer;
    background-color: #fff !important;
    padding: 20px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-flat:hover {
    color: var(--primary);
    background-color: #fff;
    box-shadow: 1px 1px 3px 2px #d6d6d6;
    transition: box-shadow .2s ease-out 0s;
}
.modal-content {
    height: 500px !important;
}
@media(max-width: 589px) {
    .btn-flat {
        width: 88%;
        font-size: 29px !important;
        display: flex;
        justify-content: center;
    }
    .box {
        height: 250px;
    }
    
}